.content-stockview > .right {
  flex: 1;
  color: #fff;
  text-align: center;
  min-height: 100vh;
}

.content-stockview > .right > .tweet-list {
  padding-left: 50px;
  height: 100%;
}

/*** SPLIT VIEW CSS  ***/

.content > .right {
  padding-left: 215px;
  flex: 1;
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .content > .right {
    padding-left: 0;
    position: relative;
  }
}

.content > .right > .tweet-list {
  padding-left: 50px;
  height: 100%;
}

@media screen and (max-width: 1080px) {
  .content > .right > .tweet-list {
    border-top: 1px solid #fff;
  }
}